<div *ngIf="loading" class="alert alert-info text-center">
  <h4 class="alert-heading">Cargando...</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
</div>

<div *ngIf="error" class="alert alert-danger text-center">
  <h4 class="alert-heading">Error</h4>
  <pre>
    {{ error | json }}
  </pre>
</div>

<div *ngIf="!loading" class="container">
  <div class="row row-cols-lg-5 row-cols-sm-1 justify-content-center">
      <div *ngFor="let usuario of usuarios" class="card m-1">
        <img [src]="usuario.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ usuario.first_name }} {{usuario.last_name}}</h5>
          <p>{{usuario.email}}</p>
        </div>
        <div class="card-footer">
          <span class="text-muted">ID: {{usuario.id}}</span>
        </div>
      </div>
    </div>
</div>
